<div [@routerTransition]>
  <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <h4>Basic Personal Details</h4>
        <label>Gym Member Name</label>
        <input #name="ngModel" [(ngModel)]="username" name="name"type="text" class="form-control" required minlength="4">
        <div *ngIf="!username" style="color: red">Required</div>
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <input #email="ngModel" [(ngModel)]="useremail" type="text" class="form-control">
        <div *ngIf="!useremail" style="color: red">Required</div>
      </div>
      <div class="form-group">
        <label>Aadhaar</label>
        <input [(ngModel)]="aadhaar" type="text" class="form-control" placeholder="Enter only Numbers">
        <div *ngIf="!aadhaar" style="color: red">Required</div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input [(ngModel)]="address" type="text" class="form-control" placeholder="Enter only Street Address">
      </div>
      <div class="form-group">
        <label>City</label>
        <select #selected [ngModel]="city" (change)="citySelectedValue(selected.value)" class="form-control">
          <option *ngFor="let city of cities | orderBy: 'name':false" [value]="city.id">{{city.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Pincode</label>
        <input [(ngModel)]="pincode" type="number" class="form-control" placeholder="Enter only Pincode">
      </div>
      <div class="form-group">
        <label>Mobile Number</label>
        <input [(ngModel)]="mobilenumber" type="number" class="form-control" placeholder="Enter only Mobile Number">
      </div>
      <h4>Membership Details</h4>
      <div class="form-group">
        <label>Training Type</label>
        <select #training [ngModel]="singletype" (change)="trainingSelectedValue(training.value)" class="form-control">
          <option *ngFor="let singletype of trainingtypes" [value]="singletype.id">{{singletype.type}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Purpose of Joining The Gym</label>
        <select #purpose [ngModel]="singlePurpose" (change)="purposeSelectedValue(purpose.value)" class="form-control">
          <option *ngFor="let singlePurpose of purposes" [value]="singlePurpose.id">{{singlePurpose.type}}</option>
        </select>
      </div>
      <div class="text-left">
        <button (click)="onCancel()" style="margin-left: 10px; margin-top: 20px;" class="btn btn-danger">Cancel</button>
      </div>
    </div>
    <div class="col-lg-6">
      <h4>Physical Details</h4>
      <div class="form-group">
        <label>Enter Birthday</label>
        <div class="input-group">
          <ngb-datepicker #dp [(ngModel)]="datemodel" (navigate)="date = $event.next"></ngb-datepicker>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label>Choose Gender</label>
          <div class="radio">
            <label>
              <input #male type="radio" [ngModel]="gender" style="margin-left: 100px;" name="gender" id="optionsRadios1"
                value="1" (click)="getGender(male.value)">
              Male
            </label>
          </div>
          <div class="radio">
            <label>
              <input #female type="radio" style="margin-left: 100px;" ng-model="gender.value" name="gender" id="optionsRadios1"
                value="2" (click)="getGender(female.value)">
              Female
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Memeber Blood Type</label>
        <select #blood [ngModel]="bloodtype" (change)="bloodSelectedValue(blood.value)" class="form-control">
          <option *ngFor="let bloodtype of bloodTypes" [value]="bloodtype.type">{{bloodtype.type}}</option>
        </select>
      </div>
      <div class="form-group input-group">
        <input [(ngModel)]="height" type="number" class="form-control" placeholder="Enter in cm (CMs)">
      </div>
      <div class="form-group input-group">
        <input [(ngModel)]="weight" type="number" class="form-control" placeholder="Enter in Kg (Kilos)">
      </div>
      <div class="form-group">
        <label>Medical History</label>
        <textarea [(ngModel)]="medicalHistory" class="form-control" rows="2" maxlength="200" placeholder="Give Your Medical History, Limit is 200 Characters Only"></textarea>
      </div>
      <div class="form-group">
        <label>Did you go to any other gym ?</label>
        <input [(ngModel)]="previousGym" type="text" class="form-control" placeholder="If No, Type N/A">
      </div>
      <div class="form-group">
        <label>Do You Take any Protien ? Or Did you used to take protiens?</label>
        <input [(ngModel)]="pastProtien" type="text" class="form-control" placeholder="If No, Type N/A">
      </div>
      <div class="text-right">
        <button (click)="onSave()" style="margin-right: 20px;" class="btn btn-success">Save & Next</button>
      </div>
    </div>
  </div>
</div>