<div class="col-md-3">
    <span>
        <span>

        </span>
    </span>
</div>

<div class="container-fluid col-md-6">
    <div class = "container">
        <div [hidden]="submitted">
            <h1>Please Login</h1>
                <form [formGroup]="angForm" novalidate>
                        <div class="form-group">
                            <label class="center-block">User Name:
                                <input [(ngModel)]="username" class="form-control" formControlName="username">
                            </label>
                        </div>
                        <div *ngIf="angForm.controls['username'].invalid && (angForm.controls['username'].dirty || angForm.controls['username'].touched)" class="alert alert-danger">
                            <div *ngIf="angForm.controls['username'].errors.required">
                                UserName is required.
                            </div>
                            <div *ngIf="angForm.controls['username'].errors.email">
                                    Email is Not valid.
                                </div>
                        </div>
                        <div class="form-group">
                                <label class="center-block">Password:
                                    <input [(ngModel)]="password" class="form-control" formControlName="password">
                                </label>
                        </div>
                        <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger">
                            <div *ngIf="angForm.controls['password'].errors.required">
                                Password is required
                            </div>
                            <div *ngIf="angForm.controls['password'].errors.min">
                                Password length of 8 is required
                            </div>
                        </div>
                </form>
                <button (click)="onLogin()" type="submit" class="btn btn-success" [disabled]="!angForm.valid">Login</button>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
    </div>